<%- include("header") -%>

    <div class="home">
        <a href="/" class="create">Home</a>
    </div>

    <div class="lobby">
        <a href="/lobby" class="create">Lobby</a>
    </div>

    <div class="rules">
        <a href="/rules" class="create">Rules</a>
    </div>

    <div class="logout">
        <a href="/" class="create">Log Out</a>
    </div>


    <div class="form-game">
        <div class="game-image">
            <img class="mb-4" src="images/uno.png" alt="" width="300" height="300">
        </div>

        <!-- Player 1 -->
        <h1>Player 1</h1>

        <!-- Player 1 Deck -->
        <!-- 7 random cards -->
        <div class="player1Deck">
        <img src="assets/Green_0.png" alt="middle card">
        <img src="assets/Blue_1.png" alt="middle card">
        <img src="assets/Red_2.png" alt="middle card">
        <img src="assets/Yellow_3.png" alt="middle card">
        <img src="assets/Green_4.png" alt="middle card">
        <img src="assets/Blue_5.png" alt="middle card">
        <img src="assets/Red_6.png" alt="middle card">
        </div>

        <div class="game-middle">

        <!-- Draw card button -->
        <button type="button" class="btn btn-primary">Draw Card</button>

        <!-- Middle Card -->
        <!-- 1 random card -->
        <div class="middle-card">
        <img src="assets/Wild.png" alt="middle card">
        </div>

        <!-- Uno button -->
        <button type="button" class="btn btn-danger">Uno</button>

        </div>

        <!-- Player 2 Deck -->
        <!-- 7 random cards -->
        <div class="player2Deck">
        <img src="assets/Deck.png" alt="middle card">
        <img src="assets/Deck.png" alt="middle card">
        <img src="assets/Deck.png" alt="middle card">
        <img src="assets/Deck.png" alt="middle card">
        <img src="assets/Deck.png" alt="middle card">
        <img src="assets/Deck.png" alt="middle card">
        <img src="assets/Deck.png" alt="middle card">
        </div>

        <!-- Player 2 -->
        <h1>Player 2</h1>


        <!--TO IMPLEMENT GAME LINK TO BACKEND-->
        <button class="open-chat" onclick>Chat</button>
        <!--TO IMPLEMENT FULL CHAT WINDOW OPTION-->
        <div class="messages">
            <!-- For each message in chat, display here -->

        </div>
        <div class="chat" id="form">
            <form class="form" action="/comments/create" method="POST" enctype="application/x-www-form-urlencoded">
                <h1>Chat</h1>
                <label for="msg"><b>Message</b></label>
                <textarea placeholder="Type message" name="comment"></textarea>

                <button type="submit" class="btn">Send</button>
                <button type="button" class="cancel">Close</button>
            </form>
        </div>
    </div>


    <%- include("footer") -%>