<%- include("header") -%>

    <body class="text-center">

        <div class="logout">
            <a href="/" class="create">Log Out</a>
        </div>
        
        <div class="form-signin">
        <img class="mb-4" src="images/uno.png" alt="" width="300" height="300">

       
        <div class="mid">
            <h1>Current Games</h1>
            <p>Green: Open</p>
            <p>Red: In Progress</p>
        </div>
        <!--To do: iterate tables by # games available-->
        <!--Also to do: grey out join when in progress-->
        <table>
            <tr>
                <td>Game Number</td>
                <td>Players (#/4)</td>
                <td>Status</td>
                <td>Join</td>
            </tr>
            <div class="game-open">
            <tr>
                <td>001</td>
                <td>0</td>
                <td>Open</td>
                <td><button type="join-game">Join</button></td>
            </tr>
            </div>
            <tr class="game-inprogress">
                <td>002</td>
                <td>4</td>
                <td>In Progress</td>
                <td></td>
            </tr>
            <tr class="game-open">
                <td>003</td>
                <td>2/4</td>
                <td>Open</td>
                <td><button type="join-game">Join</button></td>
            </tr>
        </table>

    </div>

    </body>

<%- include("footer") -%>
