<%- include("header") -%>

    <body class="text-center">

        <div class="lobby">
            <a href="/" class="create">Home</a>
        </div>

        <div class="rules">
            <a href="/rules" class="create">Rules</a>
        </div>

        <div class="logout">
            <a href="/" class="create">Log Out</a>
        </div>
        
        <div class="form-signin">
        <img class="mb-4" src="images/uno.png" alt="" width="300" height="300">

        <!--Create Game (does not work yet)-->
        <div class="create_game_button">
            <button type="button">Create New Game</button>
        </div>
        <div class="mid">
            <h1>Current Games</h1>
            <p>Green: Open</p>
            <p>Red: In Progress</p>
        </div>
        <!--To do: iterate tables by # games available-->
        <!--Also to do: grey out join when in progress-->
        <table>
            <tr>
                <td>Game Number</td>
                <td>Players (#/4)</td>
                <td>Status</td>
                <td>Join</td>
            </tr>
            <div class="game-open">
            <tr>
                <td>001</td>
                <td>0/4</td>
                <td>Open</td>
                <td><button type="join-game">Join</button></td>
            </tr>
            </div>
            <tr class="game-inprogress">
                <td>002</td>
                <td>4/4</td>
                <td>In Progress</td>
                <td></td>
            </tr>
            <tr class="game-open">
                <td>003</td>
                <td>2/4</td>
                <td>Open</td>
                <td><button type="join-game">Join</button></td>
            </tr>
            <!-- To be implemented - link front-end to back end through {}
            <tr>
                <td>{game-id}</td>
                <td>{game-players}</td>
                <td>{game-status}</td>
                <td>{join-game}</td>
            </tr>
            -->
        </table>

        <!--Delete Game (does not work yet)-->
        <!--Must only delete games started by the user who created it-->
        <div class="delete_game_button">
            <button type="button">Delete a Game</button>
        </div>
        <div class="users_waiting">
            <table>
                <tr>
                    <td>Users Waiting for a Game</td>
                </tr>
                <tr>
                    <!--Eventually must iterate through the user database-->
                    <td>None</td>
                    <!--<td>{users-waiting}</td>-->
                </tr>
            </table>
        </div>
    </div>

    </body>

<%- include("footer") -%>
