<%- include("header") -%>
    <img class="mb-4" src="images/uno.png" alt="" width="300" height="300">
    <!--TO IMPLEMENT GAME LINK TO BACKEND-->
    <button class="open-chat" onclick>Chat</button>
    <!--TO IMPLEMENT FULL CHAT WINDOW OPTION-->
    <div class="chat" id="form">
        <form class="form">
            <h1>Chat</h1>
            <label for="msg"><b>Message</b></label>
            <textarea placeholder="Type message" name="msg required"></textarea>

            <button type="submit" class="btn">Send</button>
            <button type="button" class="cancel">Close</button>
        </form>
    </div>


<%- include("footer") -%>