<%- include("header") -%>
<body class="text-center">

  <form action="/" class="form-signin" method="POST">
    <img class="mb-4" src="images/uno.png" alt="" width="300" height="300">


    <div class="mid">



      <div class="links">
        <div class="link1">
          <a href="/login" class="forgot">Log in</a>
        </div>
        <div class="link2">
          <a href="/registration" class="create">Create An Account</a>
        </div>
      </div>
  </div>
  </form>
</body>
<%- include("footer") -%>
